:root {
    --primary-color: #0b5d1e;
    --secondary-color: #264653;
    --accent1-color: #f4a261;
    --accent2-color: #e9c46a;
    --heading-font: Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 0;
}

header img {
    width: 80px;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero article {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255,255,255,0.8);
    padding: 10px;
}

.hero article img {
    float: right;
    width: 150px;
    margin-left: 10px;
}



.history h2,
.adventures h2 {
    margin: 1rem 0;
    color: var(--primary-color);
}

.history h2 {
    grid-column: 1 / 3;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 4px;
    color: var(--secondary-color);
    background: var(--accent2-color);

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 10px 0;
    font-size: 0.9rem;
}
