*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #004aad;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.topbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

nav {
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

nav a{
    color: white;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
}

h1{
    color: #003366;
    text-align: center;
}

h2{
    color: #0055a5;
    margin-top: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    float: right;
}

p {
    padding: 0;
    line-height: 1.5;
}

.box {
    border: 1px solid #999;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #eaf2ff;
    border-radius: 8px;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    font-size: 0.9rem;
}
