body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #004aad;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #003366;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

h1{
    text-align: center;
    color: #003366;
}

h2{
    color: #0055a5;
    margin-top: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

p {
    padding: 0;
    line-height: 1.5;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #eaf2ff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    font-size: 0.9rem;
}
